<div class="post">
    <div class="side-arrows">>></div>
    <div class="inner-post">
        <div class="post-header">
            <span class="author">{{post.author}}</span> {{post.customTimestamp}} No.{{post.id}} <br>
            <div class="image-container" ng-if="post.image">
                File: <a ng-href="{{post.image.link}}" target="_blank">{{post.image.name}}</a> ({{post.image.size / 1024 | number : 2}}KB, 800x715) <br>
                <img ng-src="{{post.image.previewLink}}" width="125" alt="post image" />
            </div>
            <span class="message-box" ng-bind="post.comment"></span>
        </div>
    </div>
</div>