.new-thread {
  .display-button {
    h3:first-of-type {
      margin-top: 10px;
      font-weight: bold;

      a {
        margin-left: 1px;
        margin-right: 1px;
      }
    }
  }

  .form {
    margin-bottom: 10px;

    .row {
      margin-bottom: 2px;

      div:first-child:not(.ignore) {
        border: 1px solid black;
        background-color: #98E;
        color: black;
        font-weight: bold;
        text-align: left;
        padding-left: 5px;
      }

      .subject-input, .name-input, .comment-textarea, .submit-button, .file-name {
        padding-left: 2px;
        padding-right: 2px;
      }

      div {
        input {
          height: 22px;
          width: 100%;
        }

        input, textarea {
          float: left;
          color: black;
        }

        textarea {
          width: 100%;
        }
      }

      .file-select {
        padding-left: 0;
        padding-right: 0;

        .button {
          width: 100%;
        }
      }

      .submit-button input {
        float: right;
        color: black;
        text-transform: capitalize;
      }

      .file-name {
        text-align: left;
      }
    }
  }
}